/* AnimatedPulsingDot.css */
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  opacity: 0.8;
  transition: all 0.3s;
}

.pulsing-dot {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
}
